#active-bets ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

#active-bets li {
  background: #2e4458;
  padding: 10px 15px;
  border-radius: 8px;
  /* border-left: 3px solid rgb(0, 172, 172); */
}

#active-bets li:hover {
    text-decoration: line-through;
    cursor: pointer;
}