* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#roulette-content {
    width: 100%;
    min-width: 256px;

    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.roulette-page-section {
    overflow: hidden;
    background-color: #141935;
    border-radius: 16px;
    /* padding: 2rem; */
    margin-bottom: 2rem;
}

.header-row {
    background-color: #191f3b;
    padding: 1rem 1rem;
}

.row {
    padding: 1rem 2rem 2rem;
}